/* ----------------------------- */
/* ==Buttons                     */
/* ----------------------------- */

button,
.btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid $btn-border-color;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    // font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: $btn-bg;
    // color: $gray-light;
    // background-color: $gray-ultra-light;
    outline: 0;

    // &:hover,
    // &:focus,
    // &:active {
    //     background-color: $gray-extra-light;
    //     color: $gray;
    // }

}

a.btn {
    text-decoration: none;
}

// .btn-o {
    // background-color: transparent;
    // border: 1px solid $gray-light;

    // &:hover,
    // &:focus,
    // &:active {
    //     background-color: transparent;
    //     border-color: $gray;
    //     color: $gray;
    // }
// }