/* ----------------------------- */
/* ==Buttons                     */
/* ----------------------------- */

button,
.btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid $btn-border-color;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out, border-color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out, border-color 0.25s ease-out;
    // font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: $btn-bg;
    outline: 0;
}

a.btn {
    text-decoration: none;
}

@include btn-sizes();